<div class="booking bg-body-secondary p-5">
    <div class="container">
        <h2 class="h1 text-center text-danger m-5">BOOKING</h2>
            <div class="row">
                <div class="col-md-3 ">
                    <h3>Hotels</h3>
                    <ul>
                        <li><a href="" style="width: 100%;" class="mt-3 w-100  rounded img-fluid"><img src="../libs/images/333.jpg" alt="" /></a></li>
                    </ul>
                    <ul>
                        <li><a href="" style="width: 100%;" class="mt-3 w-100"><img src="../libs/images/333.jpg" alt="" /></a></li>
                    </ul>
                    <ul>
                        <li><a href="" style="width: 100%;" class="mt-3 w-100"><img src="../libs/images/333.jpg" alt="" /></a></li>
                    </ul>
                    <ul>
                        <li><a href="" style="width: 100%;" class="mt-3 w-100"><img src="../libs/images/333.jpg" alt="" /></a></li>
                    </ul>
                </div>
                <div class="col-md-8 ms-3">
                    <form class="form-group">
                        <h4 class="h5 text-danger mt-2">SỐ LƯỢNG NGƯỜI ?</h4>
                        <div class="dropdown-button">           			
                            <select class="dropdown form-control form-select" tabindex="10" data-settings='{"wrapperClass":"flat"}'>
                                    <option value="1">01 Member</option>
                                    <option value="2">02 Members</option>
                                    <option value="3">03 Members</option>
                                    <option value="4">04 Members</option>
                                    <option value="5">05 Members</option>
                                    <option value="6">06 Members</option>
                                    <option value="7">07 Members</option>
                                    <option value="8">08 Members</option>
                                    <option value="9">09 Members</option>
                                    <option value="9">10 Members</option>
                                    <option value="9">10+ Members</option>
                             </select>
                        </div>
                        <h4 class="h5 text-danger mt-2">Rooms</h4>
                        <div class="dropdown-button">           			
                            <select class="dropdown form-select" tabindex="10" data-settings='{"wrapperClass":"flat"}'>
                                    <option value="1">Single Room</option>
                                    <option value="2">Double Room</option>
                                    <option value="3">phòng nghỉ trăng mật</option>
                                    <option value="4">Phòng Gia Đình</option>
                             </select>
                        </div>
                        <h4 class="h5 text-danger mt-2">LỰA CHỌN THỜI GIAN Ở?</h4>
                        <div class="row">
                            <div class="col-md-4">
                                <label class="form-label">Select Date :</label>
                                <input class="form-control" id="datepicker" type="date" value="Date"  required="">
                            </div>
                            <div class="col-md-4 mt-2">
                                <label class="form-label">check In :</label>
                                <input class="form-control" id="datepicker" type="date" value="Date"  required="">
                            </div>
                            <div class="col-md-4 mt-2">
                                <label class="form-label">Check Out :</label>
                                <input class="form-control" id="datepicker" type="date" value="Date"  required="">
                            </div>
                            <div class="clearfix"></div>
                        </div>	
                        <div class="row">
                            <div class="col-md-4 mt-2">
                                <label class="form-label">Chứng Minh Thư</label>
                                <input class="form-control" id="datepicker" type="text" value="cmnd"  required="">
                            </div>
                            <div class="col-md-4 mt-5">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                <label class="form-check-label" for="flexRadioDefault1">
                                    Nam
                                </label>
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                                <label class="form-check-label" for="flexRadioDefault2">
                                    Nữ
                                </label>
                            </div>
                            <div class="col-md-4 mt-5">
                                <div class="input-group">
                                    <span class="input-group-text" id="basic-addon1">+84</span>
                                    <input type="text" class="form-control" placeholder="Số Điện Thoại" aria-label="">
                                </div>
                            </div>
                        </div>
                        <h4 class="h5 text-danger mt-2">THÔNG TIN CHI TIẾT</h4>
                        <input type="text" value="Name" class="form-control mt-3" required="">
                        <input type="email" value="email" class="form-control mt-3" required="">
                        <input type="text" value="phone" class="form-control mt-3" required="">

                        <textarea type="text" class="form-control mt-5" required=""> Message... </textarea>
                        <h4 class="h5 text-danger mt-2">Phương Thức Thanh Toán</h4>
                        <div class="dropdown-button">           			
                            <select class="dropdown form-select" tabindex="10" data-settings='{"wrapperClass":"flat"}'>
                                    <option value="1">Online </option>
                                    <option value="1">Offline </option>

                             </select>
                        </div>
                        <button class="btn btn-success m-auto me-5 py-1 px-5 mt-5 mx-5">RESERVE NOW</button>
                    </form>
                    <!--strat-date-piker-->
                </div>
                <div class="clearfix"></div>
            </div>
    </div>
</div>