<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 bg-body-secondary">
            <h1 class="h5 text-danger mt-3"> <i class="fa-solid fa-bed me-4"></i>{{luans.name}}</h1>
            <p>{{luans.address}}</p>
            <p>Jump to: <span class="text-danger">Over View|Room Choices|Hotel Information</span></p>
            <img width="100%" class="img-thumbnail" src="../libs/images/{{luans.image}}" alt="">
            <div class="row">
                <div class="col-md-2">
                    <img width="100px" class="img-thumbnail w-100" src="../libs/images/111.jpg" alt="">
                </div>
                <div class="col-md-2">
                    <img width="100%" class="img-thumbnail w-100" src="../libs/images/4.jpg" alt="">
                </div>
                <div class="col-md-2">
                    <img width="100%" class="img-thumbnail" src="../libs/images/22.jpg" alt="">
                </div>
                <div class="col-md-2">
                    <img width="100%" class="img-thumbnail" src="../libs/images/13.jpg" alt="">
                </div>
                <div class="col-md-2">
                    <img width="100%" class="img-thumbnail" src="../libs/images/21.jpg" alt="">
                </div>
                <div class="col-md-2">
                    <img width="100%" class="img-thumbnail" src="../libs/images/23.jpg" alt="">
                </div>
                <div class="col-md-2">
                    <img width="100%" class="img-thumbnail" src="../libs/images/24.jpg" alt="">
                </div>
                <div class="col-md-2">
                    <img width="100%" class="img-thumbnail" src="../libs/images/25.jpg" alt="">
                </div>
                <div class="col-md-2">
                    <img width="100%" class="img-thumbnail" src="../libs/images/26.jpg" alt="">
                </div>
            </div>
            <div class="row mt-5">
                <h1 class="h5">Giới Thiệu Phòng :</h1>
                <h1 class="h5">{{luans.des}}</h1>
                <p> Tầng : {{luans.tang}}</p>
                <p>Diện Tích : {{luans.aceage}}m2</p>
                <p>Phòng Dành Cho : 5 Người</p>
                <p>Lượt Xem Phòng : 166</p>
                <p>Lượt Thích : 47</p>
            </div>
        </div>
        <div class="col-md-4 float-end">
            <div class="row ms-2">
                <div class="border border-body-secondary p-4">
                    <h1 class="bg-danger h5 p-3"><i class="fa-duotone fa-check"></i>Đề nghị đặc biệt
                    </h1>
                    <div class="float-end">
                        <p class="h3"><del>8,750$</del><span class="text-danger">${{luans.price}}</span></p>
                        <p>Best price</p>
                        <button class="btn btn-dark text-light px-1 px-5">Book Now</button>
                    </div>
                </div>
            </div>
            <div class="row mt-4 ms-1 ">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.863981046053!2d105.74459305058991!3d21.038127785924527!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313454b991d80fd5%3A0x53cefc99d6b0bf6f!2sFPT%20Polytechnic%20Hanoi!5e0!3m2!1sen!2s!4v1678829774195!5m2!1sen!2s"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="row mt-4 ms-1">
                <div class="border border-body-secondary">
                    <h1 class="h5 text-danger">Excellent</h1>
                    <p class="float-end">4.5/5</p>
                </div>
                <div class="border border-body-secondary p-4">
                    <h1 class="h5">Food and rooms are very good to stay. Iam very happy to stay in such
                        a nice hotel".</h1>
                    <p class="text-danger"> John Doe
                    </p>
                </div>
                <div class="border border-body-secondary p-4">
                    <h1 class="h5">Food and rooms are very good to stay. Iam very happy to stay in such
                        a nice hotel".</h1>
                    <p class="text-danger"> John Doe
                    </p>
                </div>
                <div class="border border-body-secondary p-4">
                    <h1 class="h5">Food and rooms are very good to stay. Iam very happy to stay in such
                        a nice hotel".</h1>
                    <p class="text-danger"> John Doe
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5">
    <h1 class="m-5">PHÒNG LIÊN QUAN</h1>
    <div class="row mt-5">
        <div class="col-md-3">
            <img src="../libs/images/111.jpg" alt="">
        </div>
        <div class="col-md-3">
            <h1 class="h5 text-danger">Thông tin phòng
            </h1>
            <p>Phòng thoáng mát sạch sẽ,Nằm ở vị trí trung tâm tại Thành Phố Lệ Giang của Lệ Giang, chỗ
                nghỉ này đặt quý khách ở gần các điểm thu hút</p>
            <h3 class="h5">DỊCH VỤ</h3>
            <p>Ghế Tình Yêu
            </p>
        </div>
        <div class="col-md-3">
            <h1 class="h5 text-danger mb-2">Đặc điểm nổi bật
            </h1>
            <a class="border border-danger rounded text-light bg-danger p-1 m-3">12.000.000đ
            </a>
            <p class="mt-3"><i
                    class="fa-solid fa-check border rounded bg-success p-1 text-light mt-2"></i>Đặt 2
                giờ tặng 1 giờ</p>
        </div>
        <div class="col-md-3">
            <h1 class="text-danger h5">Giá Phòng</h1>
            <p class="text-danger">12.000.000đ Đặt phòng
            </p>
            <button class="px-2 px-5 text-light bg-success rounded border border-light">Mua
                Ngay</button>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-3">
            <img src="../libs/images/111.jpg" alt="">
        </div>
        <div class="col-md-3">
            <h1 class="h5 text-danger">Thông tin phòng
            </h1>
            <p>Phòng thoáng mát sạch sẽ,Nằm ở vị trí trung tâm tại Thành Phố Lệ Giang của Lệ Giang, chỗ
                nghỉ này đặt quý khách ở gần các điểm thu hút</p>
            <h3 class="h5">DỊCH VỤ</h3>
            <p>Ghế Tình Yêu
            </p>
        </div>
        <div class="col-md-3">
            <h1 class="h5 text-danger mb-2">Đặc điểm nổi bật
            </h1>
            <a class="border border-danger rounded text-light bg-danger p-1 m-3">12.000.000đ
            </a>
            <p class="mt-3"><i
                    class="fa-solid fa-check border rounded bg-success p-1 text-light mt-2"></i>Đặt 2
                giờ tặng 1 giờ</p>
        </div>
        <div class="col-md-3">
            <h1 class="text-danger h5">Giá Phòng</h1>
            <p class="text-danger">12.000.000đ Đặt phòng
            </p>
            <button class="px-2 px-5 text-light bg-success rounded border border-light">Mua
                Ngay</button>
        </div>
    </div>
</div>
<div class="container mt-5 border-top border-dark">
    <h1 class="h1 text-primary mt-5">ĐÁNH GIÁ</h1>
    <p class="h1"> <i class="fa-solid fa-star h-1 text-warning"></i> 5/5</p>
    <div class="row">
        <div class="col-md-6 row">
            <div class="col-md-1 pt-3">
                <a class="bg-primary h1 rounded-circle p-2">Q</a>
            </div>
            <div class="col-md-5 m-2">
                <p class="h5">2022-11-17 13:32:54</p>
                <p>Khách Sạn :</p>
                <p>sản phẩm quá tốt
                </p>
            </div>
            <div class="col-md-5">
                <h1 class="h5">Phòng : 18</h1>
                <p>Đánh Giá : <i class="fa-solid fa-star  text-warning"></i> <i
                        class="fa-solid fa-star h-1 text-warning"></i> <i
                        class="fa-solid fa-star h-1 text-warning"></i></p>
            </div>
        </div>
        <div class="col-md-6 row">
            <div class="col-md-1 pt-3">
                <a class="bg-primary h1 rounded-circle p-2">Q</a>
            </div>
            <div class="col-md-5 m-2">
                <p class="h5">2022-11-17 13:32:54</p>
                <p>Khách Sạn :</p>
                <p>sản phẩm quá tốt
                </p>
            </div>
            <div class="col-md-5">
                <h1 class="h5">Phòng : 18</h1>
                <p>Đánh Giá : <i class="fa-solid fa-star  text-warning"></i> <i
                        class="fa-solid fa-star h-1 text-warning"></i> <i
                        class="fa-solid fa-star h-1 text-warning"></i></p>
            </div>
        </div>
        <div class="col-md-6 row">
            <div class="col-md-1 pt-3">
                <a class="bg-primary h1 rounded-circle p-2">Q</a>
            </div>
            <div class="col-md-5 m-2">
                <p class="h5">2022-11-17 13:32:54</p>
                <p>Khách Sạn :</p>
                <p>sản phẩm quá tốt
                </p>
            </div>
            <div class="col-md-5">
                <h1 class="h5">Phòng : 18</h1>
                <p>Đánh Giá : <i class="fa-solid fa-star  text-warning"></i> <i
                        class="fa-solid fa-star h-1 text-warning"></i> <i
                        class="fa-solid fa-star h-1 text-warning"></i></p>
            </div>
        </div>
        <div class="col-md-6 row">
            <div class="col-md-1 pt-3">
                <a class="bg-primary h1 rounded-circle p-2">Q</a>
            </div>
            <div class="col-md-5 m-2">
                <p class="h5">2022-11-17 13:32:54</p>
                <p>Khách Sạn :</p>
                <p>sản phẩm quá tốt
                </p>
            </div>
            <div class="col-md-5">
                <h1 class="h5">Phòng : 18</h1>
                <p>Đánh Giá : <i class="fa-solid fa-star  text-warning"></i> <i
                        class="fa-solid fa-star h-1 text-warning"></i> <i
                        class="fa-solid fa-star h-1 text-warning"></i></p>
            </div>
        </div>
        <div class="col-md-6 row">
            <div class="col-md-1 pt-3">
                <a class="bg-primary h1 rounded-circle p-2">Q</a>
            </div>
            <div class="col-md-5 m-2">
                <p class="h5">2022-11-17 13:32:54</p>
                <p>Khách Sạn :</p>
                <p>sản phẩm quá tốt
                </p>
            </div>
            <div class="col-md-5">
                <h1 class="h5">Phòng : 18</h1>
                <p>Đánh Giá : <i class="fa-solid fa-star  text-warning"></i> <i
                        class="fa-solid fa-star h-1 text-warning"></i> <i
                        class="fa-solid fa-star h-1 text-warning"></i></p>
            </div>
        </div>
        <div class="col-md-6 row">
            <div class="col-md-1 pt-3">
                <a class="bg-primary h1 rounded-circle p-2">Q</a>
            </div>
            <div class="col-md-5 m-2">
                <p class="h5">2022-11-17 13:32:54</p>
                <p>Khách Sạn :</p>
                <p>sản phẩm quá tốt
                </p>
            </div>
            <div class="col-md-5">
                <h1 class="h5">Phòng : 18</h1>
                <p>Đánh Giá : <i class="fa-solid fa-star  text-warning"></i> <i
                        class="fa-solid fa-star h-1 text-warning"></i> <i
                        class="fa-solid fa-star h-1 text-warning"></i></p>
            </div>
        </div>
    </div>
    <div class="row">
        <a href="" class="h1 text-dark mt-5">Xem Thêm Đánh Giá</a>
        <div class="text-center mt-5">
            <p>Bạn đã sử dụng phòng chưa ?
            </p>
            <button class=" px-5 py-2 text-light bg-primary h3 border border-light rounded">Gửi Đánh
                Giá</button>
        </div>
    </div>
</div>