<div class="row slide1  container-fluid position-absolute mb-5">
    <title></title>
 <div>
    <li class="nav-item dropdown circle ">
        <a class="nav-link dropdown-toggle active text-light hover:text-danger-emphasis rounded-circle"
            href="#" id="navbarDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            <img src="./libs/images/{{user.image}}" width="100px" alt="">
        </a>
        <a href=""></a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#!/info/{{user.id}}">Thông Tin Cá Nhân</a></li>
            <li class="nav-item dropdown-item">
                <a class="nav-link" ng-hide="active" href="#!/logout"><i
                        class="fa-solid fa-right-to-bracket"></i>Thoát</a>
            </li>
        </ul>
    </li>
    <li class="nav-item">
        <a href="">
            <div id="wrapper">
                <div class="cart-tab visible">
                    <a href="#" title="View your shopping cart" class="cart-link">
                        <span class="amount">${{card.price}}</span>
                        <span class="contents">2 items</span>
                    </a>
                    <div class="cart">
                        <h2>Cart</h2>
                        <div class="cart-items">
                            <ul>
                                <li class="clearfix text-center text-dark" ng-repeat="i in valuedetail1">
                                    <img width="100px" src="../libs/images/{{i.image}}"
                                        class="productimg">
                                    <h4>{{i.name}}</h4>
                                    <span class="item-price">$ {{i.price}}</span>
                                </li>
                            </ul>
                        </div><!-- @end .cart-items -->
                        <a href="#" class="checkout">Go To Checkout →</a>
                    </div><!-- @end .cart -->
                </div><!-- @end .cart-tab -->
        </a>
    </li>
 </div>
    <div class="card-group">
        <div class="col-md-1"></div>
        <div class="col-md-4 bg-secondary text-light p-4">
            <h1 class="h2">KHÁCH SẠN NỔI BẬT</h1>
            <div class="cards  p-4 text-center">
                <h1 class="h4">KHÁCH SẠN CỔ ĐIỂN</h1>
                <p>Hãy để nó ở trong trái tim của cả thế giới và một số nỗi đau lớn. Có một số điều tuyệt vời được thực hiện trong tincidunt</p>
            </div>
        </div>
        <div class="col-md-3 bg-secondary text-light ">
            <div class="cards1 p-4 text-center">
                <h1 class="h4">KHÁCH SẠN CỔ ĐIỂN</h1>
                <p>Hãy để nó ở trong trái tim của cả thế giới và một số nỗi đau lớn. Có một số điều tuyệt vời được thực hiện trong tincidunt</p>
            </div>
        </div>
        <div class="col-md-3 bg-secondary text-light ">
            <div class="cards2 text-center pt-4">
                <h1 class="h4">KHÁCH SẠN CỔ ĐIỂN</h1>
                <p>Hãy để nó ở trong trái tim của cả thế giới và một số nỗi đau lớn. Có một số điều tuyệt vời được thực hiện trong tincidunt</p>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>

<div class="grid-container-fluid products mt-5 position-relative">
    <div class="row">
        <h1 class="h1 text-danger p-5 mt-5">Danh Sách Phòng</h1>
        <div class="col-md-4 mt-5"  ng-repeat="i in rooms">
            <div class="flip-animation shadow-lg">
                <section class="item-card row">
                    <div class="item-summary col-md-6 ">
                        <h2 class="title">{{i.name}}</h2>
                        <p class="venue">Tầng :{{i.tang}}</p>
                        <address class="address">
                            <p class="street-address">Giá : $ {{i.price}}</p>
                            <p class="locality">Diện Tích: {{i.aceage}}</p>
                        </address>
                    </div>
                    <div class="item-summary col-md-6">
                        <h2 class="title">Tuyệt Vời</h2>
                        <p class="venue">Qua 1230 Đánh Giá</p>
                        <address class="address text-warning">
                            <i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                        </address>
                    </div>
                    <div class="image-wrapper">
                        <a href="#!/detail/{{i.id}}{{i.idcate}}">   <img class="featured-image" src="../libs/images/{{i.image}}"
                            /></a>
                    </div>
                    <div class="item-time-date">
                        <time class="date" datetime="2018-10-16">Sept {{i.time}}</time>
                        <time class="time" datetime="19:00">8:20 PM</time>
                    </div>
                </section>
                <section class="item-card-details">
                    <div class="item-buttons back">
                        <a class="btn-details grey back-arrow text-center"
                            aria-label="Learn more about the band and venue" href="#!/detail/{{i.id}}{{i.idcate}}">Xem Chi Tiết</a>
                        <a class="btn-tickets blue on-back" aria-label="Purchase tickets for this event"
                            href="#!/booking">Đặt Phòng</a>
                    </div>
                </section>
            </div>
        </div>                 
    </div>
    <nav aria-label="Page float-end navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>
</div>
<div class="row bg-dark factilyti p-5 mt-5">
    <h1 class="text-danger text-center">TRIỂN LÃM</h1>
    <div class="row">
        <div class="col-md-6">
            <img class="md-h-100" width="100%" src="../libs/images/222.jpg" alt="">
        </div>
        <div class="col-md-6 row">
            <div class="col-md-6">
                <img width="100%" src="../libs/images/111.jpg" alt="">
            </div>
            <div class="col-md-6">
                <img width="100%" src="../libs/images/333.jpg" alt="">
            </div>
            <div class="col-md-12 mt-4">
                <img width="100%" src="../libs/images/444.jpg" alt="">
            </div>
        </div>
    </div>
</div>
<div class="row navdoc position-relative h-auto">
    <div class="align-items-start row ">
        <div class="col-md-3">
            <div class="nav flex-column text-center bg-dark-subtle  nav-pills me-3  border border-secondary rounded"
                id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <h1 class="h5 bg-danger-subtle">Danh Mục</h1>
                <div ng-repeat="i in cate">
                    <button class="nav-link active px-5 ms-4  border mt-3 border-secondary" id="v-pills-home-tab"
                    data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab"
                    aria-controls="v-pills-home" aria-selected="true">{{i.name}}</button>
                </div>
                <div></div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="col-md-12" id="v-pills-tabContent">
                <div class="tab-pane fade show active " id="v-pills-home" role="tabpanel"
                    aria-labelledby="v-pills-home-tab" tabindex="0">
                    <div class="row d-flex">
                        <div class="col-md-6 p-3">
                            <img width="100%" src="../libs/images/aaa.jpg" alt="">
                        </div>
                        <div class="col-md-6 row p-1">
                           <div class="col-md-6 p-1">
                            <img width="100%" src="../libs/images/111.jpg" alt="">
                           </div>
                           <div class="col-md-6 p-1">
                            <img width="100%" src="../libs/images/111.jpg" alt="">
                           </div>
                           <div class="col-md-6 p-1">
                            <img width="100%" src="../libs/images/111.jpg" alt="">
                           </div>
                           <div class="col-md-6 p-1">
                            <img width="100%" src="../libs/images/111.jpg" alt="">
                           </div>
                        </div>
                    </div>
                </div>
            </div>         
        </div>
    </div>
</div>
<div class="row carousel">
    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="10000">
            <img src="../libs/images/aaa.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>First slide label</h5>
              <p>Some representative placeholder content for the first slide.</p>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="../libs/images/222.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Second slide label</h5>
              <p>Some representative placeholder content for the second slide.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../libs/images/ccc.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Third slide label</h5>
              <p>Some representative placeholder content for the third slide.</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div>
<div class="row  ">
    <div class="position-relative call border border-danger-subtle">
        <h2 class="h2 text-center">LỰA CHỌN ĐẶT PHÒNG HOÀN HẢO</h2>
        <div class="row text-center">
            <div class="col-md-3">
                <img src="../libs/images/ic1.webp" alt="">
                <h2>Giải pháp du lịch hoàn thiện</h2>
                <p>
                    Giải pháp toàn diện - giúp bạn tìm chuyến bay
                    và khách sạn khắp Việt Nam và Đông Nam Á một cách tiết kiệm.
                </p>
            </div>
            <div class="col-md-3">
                <img src="../libs/images/ic2.webp" alt="">

                <h2>Giải pháp du lịch hoàn thiện</h2>
                <p>
                    Giải pháp toàn diện - giúp bạn tìm chuyến bay
                    và khách sạn khắp Việt Nam và Đông Nam Á một cách tiết kiệm.
                </p>
            </div>
            <div class="col-md-3">
                <img src="../libs/images/ic3.webp" alt="">

                <h2>Giải pháp du lịch hoàn thiện</h2>
                <p>
                    Giải pháp toàn diện - giúp bạn tìm chuyến bay
                    và khách sạn khắp Việt Nam và Đông Nam Á một cách tiết kiệm.
                </p>
            </div>
            <div class="col-md-3">
                <img src="../libs/images/ic4.webp" alt="">

                <h2>Giải pháp du lịch hoàn thiện</h2>
                <p>
                    Giải pháp toàn diện - giúp bạn tìm chuyến bay
                    và khách sạn khắp Việt Nam và Đông Nam Á một cách tiết kiệm.
                </p>
            </div>
        </div>
    </div>
</div>