<div class="contact">
    <div class="container">
        <h2 class="tittle-one">VIEW ON MAP</h2>
        <div class="map ratio ratio-16x9">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.863981046053!2d105.74459305058991!3d21.038127785924527!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313454b991d80fd5%3A0x53cefc99d6b0bf6f!2sFPT%20Polytechnic%20Hanoi!5e0!3m2!1sen!2s!4v1678823960658!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="paragraph">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
            Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. 
            Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus 
            et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui.
            Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, 
            luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. 
            Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet, 
            consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. 
            Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi
            et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus.</p>
        </div>
        <div class="contact-form">
            <h3 class="tittle">CONTACT FORM</h3>
            <form class="form-group row">
                <div class="col-md-4">
                    <input type="text" class="form-control" placeholder="Name">
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control" placeholder="Name">
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control" placeholder="Name">
                </div>
                <div class="col-md-12 mt-4">
                    <textarea class="form-control" placeholder="Message"></textarea>
                </div>
                <div class="clearfix"> </div>
      
                <button type="submit" class="btn btn-danger  mt-5" value="SEND">Send</button>
            </form>
        </div>
    </div>
</div>